*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma,sans-serif;
}

body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:#f4f4f4;

}

.login-box{

width:350px;

background:#fff;

padding:30px;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

text-align:center;

}

h1{

margin-bottom:10px;

}

p{

margin-bottom:20px;

color:#777;

}

input{

width:100%;

padding:12px;

margin:10px 0;

border:1px solid #ccc;

border-radius:5px;

}

button{

width:100%;

padding:12px;

background:#ff1361;

color:#fff;

border:none;

border-radius:5px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#e10056;

}
