*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,sans-serif;
}

body{
    background:#f4f4f4;
    direction:rtl;
}

/* HEADER */

.header{
    background:#fff;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.right h2{
    margin:5px 0;
    color:#333;
}

.time{
    font-size:13px;
    color:#888;
}

.header-buttons{
    margin-top:10px;
}

.header button{
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
    margin-left:8px;
    color:white;
    font-size:14px;
}

.user{
    background:#2ecc71;
}

.logout{
    background:#8b1d2c;
}

.dark-btn{
    background:#222;
    color:#fff;
    width:45px;
    height:45px;
    border-radius:8px;
}

/* CARDS */

.cards{

    display:grid;
    grid-template-columns:repeat(4,1fr);

    gap:20px;

    padding:30px;

}

.card{

    background:#fff;

    border-radius:10px;

    padding:25px;

    text-align:center;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

    transition:.3s;

}

.card:hover{

    transform:translateY(-5px);

}

.card i{

    font-size:35px;

    margin-bottom:15px;

}

.card h1{

    margin-bottom:8px;

    font-size:30px;

}

.card p{

    color:#666;

}

/* ICON COLORS */

.orange{

    color:#ff9800;

}

.black{

    color:#222;

}

.green{

    color:#2ecc71;

}

.red{

    color:#e53935;

}

.pink{

    color:#ff0066;

}

.blue{

    color:#3498db;

}

/* MENU */

.menu{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

    padding:0 30px 30px;

}

.menu-btn{

    background:#cfcfcf;

    text-decoration:none;

    color:#333;

    padding:18px;

    text-align:center;

    border-radius:8px;

    font-size:18px;

    transition:.3s;

}

.menu-btn i{

    margin-left:8px;

}

.menu-btn:hover{

    background:#bdbdbd;

}

.add{

    background:#ff0d61;

    color:white;

}

.add:hover{

    background:#e40055;

}

/* RESPONSIVE */

@media(max-width:900px){

.cards{

grid-template-columns:repeat(2,1fr);

}

.menu{

grid-template-columns:1fr;

}

.header{

flex-direction:column;

gap:15px;

text-align:center;

}

}

@media(max-width:600px){

.cards{

grid-template-columns:1fr;

}

}
